
<div class='card'>
    <form (ngSubmit)="AddNote()" class='bg-pic'>
<div class='card-header'>
 ADD NOTE
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Topic Name</label></td>
              <td><input type="text" name="p-name" [(ngModel)]="noteItem.TopicName"/></td>                  
            </tr>   
            <tr>
                <td><label>Preview</label></td>
                <td><input type="text" name="p_name" [(ngModel)]="noteItem.Preview"/></td>                  
              </tr>  
              <tr>
                <td><label>Details</label></td>
                <td><input type="text" name="p_name" [(ngModel)]="noteItem.Details"/></td>                  
              </tr> 
            <tr>
              <td><input  style="color: navy;" type="submit" value="Submit"></td>
            </tr>
                     
      </tbody>
    </table>
  </div>
</div>
</form>
</div>

